{% block form_label %}
    {% if label is not same as(false) %}
        {% set label_attr = label_attr|merge({'class': label_attr.class|default('col-sm-3 control-label')|trim}) %}
        {% if required %}
            {% set label_attr = label_attr|merge({'class': (label_attr.class ~ ' required')|trim}) %}
        {%  endif %}
        {% if label is empty %}
            {% set label = name|humanize %}
        {% endif %}
        <label{% for attrname, attrvalue in label_attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}>{{ label|trans({}, translation_domain) }}</label>
    {% endif %}
{% endblock %}

{% block form_errors %}
    {% if errors|length > 0 %}
        <ul class="errors-list filled">
            {% for error in errors %}
                <li>{{ error.message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
{% endblock %}

{% block form_row %}
    <div class="form-group {{ errors|length > 0 ? 'has-error has-feedback' }}">
        {{ form_label(form) }}
        <div class="{{ wrapper_class|default('col-sm-9') }}">
            {% set class = attr['class']|default('form-control') %}
            {% set attr = attr|merge({'attr':{'class':class}}) %}
            {{ form_widget(form, attr) }}
            {{ note ? ('<p>'~note~'</p>')|raw : '' }}
            {{ form_errors(form) }}
        </div>
    </div>
{% endblock %}

{% block checkbox_widget %}
    {% set attr = attr|merge({'class': attr.class|default('checkbox')|trim}) %}
    <input type="checkbox" {{ block('widget_attributes') }}{% if value is defined %} value="{{ value }}"{% endif %}{% if checked %} checked="checked"{% endif %} />
{% endblock %}

{% block checkbox_label %}
    {% if label is not same as(false) %}
        {% if not compound -%}
            {% set label_attr = label_attr|merge({'for': id}) %}
        {%- endif -%}
        {% if required %}
            {% set label_attr = label_attr|merge({'class': (label_attr.class|default('') ~ ' required')|trim}) %}
        {%  endif %}
        {% if label is empty %}
            {% set label = name|humanize %}
        {% endif %}
        <label{% for attrname, attrvalue in label_attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}>{{ label|trans({}, translation_domain) }}</label>
    {% endif %}
{% endblock %}

{% block checkbox_row %}
    <div class="form-group {{ errors|length > 0 ? 'has-error has-feedback' }}">
        <div class="col-sm-3"></div>
        <div class="{{ wrapper_class|default('col-sm-9') }}">
            {{ form_widget(form) }}
            {{ form_label(form) }}
            {{ note ? ('<p>'~note~'</p>')|raw : '' }}
            {{ form_errors(form) }}
        </div>
    </div>
{% endblock %}

{% block file_row %}
    <div class="form-group {{ errors|length > 0 ? 'has-error has-feedback' }}">
        {{ form_label(form) }}
        <div class="{{ wrapper_class|default('col-sm-9') }}">
            {{ form_widget(form, attr) }}
            {% if form.vars.file %}Existing File: {{ form.vars.file.filename }}{% else %}No previous file{% endif %}
            {{ form_errors(form) }}
        </div>
    </div>
{% endblock %}
