{% block vich_image_widget %}
    {% spaceless %}
        <div class="vich-image">
            <div class="form-group">
                <div class="col-sm-12">
                    {% if download_uri is defined and download_uri %}
                        <div class="pull-left p-r-10">
                            <a href="{{ download_uri }}"><img src="{{ download_uri|imagine_filter('admin_thumbnail') }}" alt="" /></a><br />
                            {% if show_download_link and download_uri is defined and download_uri%}
                                <a href="{{ download_uri }}">{{ 'download'|trans({}, 'VichUploaderBundle') }}</a>
                            {% endif %}
                        </div>
                    {% endif %}
                    <div class="pull-left">
                        {{ form_widget(form.file) }}
                        {% if form.delete is defined %}
                            {{ form_widget(form.delete) }}
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="form-group">
            </div>
        </div>
    {% endspaceless %}
{% endblock %}