<!DOCTYPE html>
<html lang="{{ block('html_lang') }}">
<head>
    {% set page_subtitle = block('page_subtitle') %}
    <title>
        {% block pagetitle %}{% block sitename %}Color Admin{% endblock %}{% endblock %}{% if page_subtitle is not empty %} | {{ page_subtitle }}{% endif %}
    </title>
    {% block metas %}
        <meta content="{% block meta_viewport %}width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no{% endblock %}" name="viewport" />
        <meta content="{% block meta_description %}{% endblock %}" name="description" />
        <meta content="{% block meta_author %}{% endblock %}" name="author" />
    {% endblock %}
    {% block stylesheets %}
        {% block base_stylesheets %}
            <link href="//fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
            <link href="//code.jquery.com/ui/1.11.3/themes/smoothness/jquery-ui.css" rel="stylesheet" />
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
            <link href="{{ asset('bundles/nscoloradmin/css/animate.min.css') }}" rel="stylesheet" />
            <link href="{{ asset('bundles/nscoloradmin/css/style.min.css') }}" rel="stylesheet" />
            <link href="{{ asset('bundles/nscoloradmin/css/style-responsive.min.css') }}" rel="stylesheet" />
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.11.2/css/bootstrap-select.min.css">
            {% block theme_stylesheets %}
                <link href="{{ asset('bundles/nscoloradmin/css/theme/'~theme~'.css') }}" rel="stylesheet" id="theme" />
            {% endblock %}
            {% block ns_stylesheets %}
                <link href="{{ asset('bundles/nscoloradmin/css/ns.css') }}" rel="stylesheet" />
            {% endblock %}
            {% block page_stylesheets %}

            {% endblock %}
        {% endblock %}
    {% endblock %}
    {% block pace %}
        {# Disabled by default because, while it looks nice, 500 errors show nothing but a loading bar #}
        {% if use_pace %}
            <script src="{{ asset('bundles/nscoloradmin/js/plugins/pace.min.js') }}"></script>
        {% endif %}
    {% endblock %}
    {% block javascripts %}
    {% block base_javascripts %}
        <script src="//code.jquery.com/jquery-2.2.1.min.js"></script>
        <script src="//code.jquery.com/jquery-migrate-1.4.0.min.js"></script>
        <script src="//code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/jQuery-slimScroll/1.3.7/jquery.slimscroll.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
        <script src="{{ asset('bundles/nscoloradmin/js/apps.min.js') }}"></script>
        <script src="{{ asset('bundles/nscoloradmin/js/plugins/masked-input.min.js') }}"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.11.2/js/bootstrap-select.min.js"></script>
    {% endblock %}
        <script src="{{ asset('bundles/nscoloradmin/js/ns.js') }}"></script>
        {% block page_javascripts %}
        {% endblock %}
    {% block init_javascript %}
        <script>
            $(document).ready(function() {
                App.init();
            });
        </script>
    {% endblock %}
    {% endblock %}
</head>
<body class="color-admin">
{% block page_loader %}
    {# Disabled by default because, while it looks nice, 500 errors show nothing but a loading bar #}
    {% if use_pace %}
        <div id="page-loader" class="fade in"><span class="spinner"></span></div>
    {% endif %}
{% endblock %}

<div id="page-container" class="fade {{ not use_pace ? 'in' : '' }} {{ fixed_sidebar ? 'page-sidebar-fixed' : '' }} {{ fixed_header ? 'page-header-fixed' : '' }} {{ gradient_sidebar ? 'gradient-enabled' : '' }}">

    {% block header %}
        <div id="header" class="header navbar {{ inverse_header ? 'navbar-inverse':'navbar-default' }} {{ fixed_header ? 'navbar-fixed-top' : ''}}">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a href="{% block admin_logo_url %}{{ url('admin_dashboard') }}{% endblock %}" class="navbar-brand"><span class="navbar-logo"></span> {% block header_title %}{{ block('pagetitle') }}{% if page_subtitle is not empty %} | {{ page_subtitle }}{% endif %}{% endblock %}</a>
                    {% block mobile_navbar_toggle %}
                        <button type="button" class="navbar-toggle" data-click="sidebar-toggled">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    {% endblock %}
                </div>
                {% block header_navigation %}
                    {% include 'NSColorAdminBundle::blocks/_header_navigation.html.twig' %}
                {% endblock %}
            </div>
        </div>
    {% endblock %}

    {% block sidebar %}
        <div id="sidebar" class="sidebar {{ grid_sidebar ? 'sidebar-grid' : '' }}">
            <div data-scrollbar="true" data-height="100%">
                {% block sidebar_header %}
                    <ul class="nav">
                        <li class="nav-profile">
                            <div class="image">
                                {% block sidebar_icon %}<i class="fa fa-cog fa-3x white"></i>{% endblock %}
                            </div>
                            <div class="info">
                                {% block sidebar_title %}
                                    {{ block('sitename') }}
                                {% endblock %}
                                <small>
                                    {% block sidebar_subtitle %}
                                        Website admin panel
                                    {% endblock %}
                                </small>
                            </div>
                        </li>
                    </ul>
                {% endblock %}
                {% block sidebar_navigation %}
                    <ul class="nav">
                        {% block sidebar_navigation_header %}
                            <li class="nav-header">{% block sidebar_navigation_header_title %}Navigation{% endblock %}</li>
                        {% endblock %}
                        {% block sidebar_navigation_menu %}
                            {{ knp_menu_render('sidebar', {'template': 'NSColorAdminBundle:Menu:knp_menu.html.twig'}) }}
                        {% endblock %}
                    </ul>
                {% endblock %}
                {% block additional_navigation %}
                    {# additional menus for the main nav would go here #}
                {% endblock %}
                {% block sidebar_navigation_minimize %}
                    <ul class="nav">
                        <li><a href="javascript:;" class="sidebar-minify-btn" data-click="sidebar-minify"><i class="fa fa-angle-double-left"></i></a></li>
                    </ul>
                {% endblock %}
            </div>
        </div>
        <div class="sidebar-bg"></div>
    {% endblock %}

    <div id="content" class="{% block content_class %}content{% endblock %}">
        {% block breadcrumbs %}
            {{ knp_menu_render('breadcrumbs', {'template': 'NSColorAdminBundle:Menu:breadcrumb_menu.html.twig'}) }}
        {% endblock %}
        {% block page_header %}
            <h1 class="page-header">{% block page_header_title %}Dashboard{% endblock %} <small>{% block page_header_text %}header small text goes here...{% endblock %}</small></h1>
        {% endblock %}
        {% block messages %}
            {{ include('NSColorAdminBundle:blocks:_flash_messages.html.twig') }}
        {% endblock %}
        {% block body %}

        {% endblock %}
    </div>
    {% block to_top %}
        <a href="javascript:;" class="btn btn-icon btn-circle btn-success btn-scroll-to-top fade" data-click="scroll-top"><i class="fa fa-angle-up"></i></a>
    {% endblock %}
</div>

</body>
</html>