{% if actions is not empty %}
    <div class="panel-heading-btn">
        {% for button in actions %}
            <a class="btn btn-xs btn-circle btn-{{ button.style is defined ? button.style : 'default' }}"
                {% if button.click is defined %} data-click="{{ button.click }}" {% endif %}
                {% if button.title is defined %} title="{{ button.title }}" {% endif %}
                href="{{ button.uri is defined ? button.uri : 'javascript:;' }}"
               {% if button.link_new_window is defined and button.link_new_window %} target="_blank" {% endif %}
            >
                <i class="fa fa-{{ button.icon ? button.icon :  'circle'}}"></i>
            </a>
        {% endfor %}
    </div>
{% endif %}