{% block form_label %}
    {% if label is not same as(false) %}
        {% set label_attr = label_attr|merge({'class': label_attr.class|default('col-sm-3 control-label')|trim}) %}
        {% if required %}
            {% set label_attr = label_attr|merge({'class': (label_attr.class ~ ' required')|trim}) %}
        {%  endif %}
        {% if label is empty %}
            {% set label = name|humanize %}
        {% endif %}
        <label{% for attrname, attrvalue in label_attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}>{{ label|trans({}, translation_domain) }}</label>
    {% endif %}
{% endblock %}

{% block form_errors %}
    {% if errors|length > 0 %}
        <ul class="errors-list filled">
            {% for error in errors %}
                <li>{{ error.message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
{% endblock %}

{% block form_row %}
    <div class="form-group">
        {% set class = attr.class|default('col-sm-9') %}
        {{ form_label(form) }}
        {{ form_widget(form, {'class':class}) }}
        {{ form_errors(form) }}
    </div>
{% endblock %}